
#about {
  width: 100%;
  min-height: 100vh;
  padding: 2rem 1rem;
    animation: zoomIn .2s linear forwards;
    opacity: 0;
    scale: 0.9;
}


.aboutPageHeading {
  font-size: clamp(2rem, 6vw, 4rem);
  text-align: center;
  margin-bottom: 2rem;
}


#aboutInnerDiv {
  width: 100%;
  min-height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 2rem;
}


.aboutPageImage {
  width: clamp(160px, 35vw, 280px);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #1E293B;
   box-shadow:
    0 0 30px rgba(255,255,255,0.4),
    0 0 60px rgba(255,255,255,0.3),
    0 0 120px rgba(255,255,255,0.2);
  animation: float 3s ease-in-out infinite alternate;
}


.aboutPageImage img {
   scale: 2;


  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutPageText {
  max-width: 420px;
}


.aboutPageText p {
  font-size: 1rem;
  line-height: 1.6;
  opacity: 0.9;
}


@media (max-width: 768px) {
  #aboutInnerDiv {
    flex-direction: column;
    text-align: center;
  }
}
