#card {

    padding: 10px;
    margin: 20px;
    border-radius: 1rem;
    width: clamp(250px, 50vw, 300px);
    height: 400px;
    perspective: 1000px;
    transition-delay: .5s;
    position: relative;
    background: #0F172A;
    backdrop-filter: blur(10px);
    color: white;
    display: flex;
    border:  solid 1px  #1E293B;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: ease-in .2s;
    animation: zoomIn .2s linear forwards;
    opacity: 0;
    scale: 0.9;
}

#card:hover{
    
    border: solid 1px #38BDF8;
}
@keyframes zoomIn {
    
    100%{

        scale: 1;
        opacity: 1;
    }
}

.cardImage {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    margin:30px 0 30px 0;
}

.cardImage img {

    width: 100%;
    max-width: 120px;
    height: auto;
}

.cardInfo {

    display: flex;
    flex-direction: column;
    align-items: center;

    list-style: none;
    gap: 10px;
    width: 100%;
    height: calc(100% - 120px);
    padding: 5px;

}

.TechStack {


    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.cardBtns {

    margin-top: auto;
    display: flex;
    gap: 10px;
}

.cardBtns> .cardBtn {
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
    border: solid rgb(0, 255, 242) 1px;
    text-align: center;
    width: 100px;
    border-radius: .6rem;
    font-size: 1rem;
    background-color: transparent;
    color: white;

    transition: ease-in .2s;
}





.cardBtns>.cardBtn:hover {

    background: rgb(0, 255, 13);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.cardBtns>.cardBtn:nth-child(2):hover {

    background: rgb(0, 2, 0);
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}