#Personal {

    width: 100%;
    height: 100vh;

    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    animation: zoomIn .2s linear forwards;
    opacity: 0;
    scale: 0.9;

}

#title {

    width: auto;
}

#title>h2 {
    text-align: left;
}

.info {

    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 300px;
    font-family: Arial, Helvetica, sans-serif;

}

.about {

    margin-top: 20px;
    width: clamp(300px, 45vw, 400px);
}


.info h1 {
    font-size: clamp(2rem, 6vw, 4rem);
    color: rgb(255, 255, 255);
}

.info h1::first-letter {
    color: rgb(255, 128, 0);
}

#fieldInfoTag p {
    font-size: clamp(1.1rem, 2.4vw, 2rem);
    color: white;
    font-weight: bold;

    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;

    animation: typing 6s steps(25) infinite,
        blink 1s infinite;
}





@keyframes typing {
    0% {
        width: 0;
    }


    50% {
        width: 100%;
    }


    85% {
        width: 100%;
    }


    100% {
        width: 0;
    }
}


@keyframes blink {
    50% {
        border-color: transparent
    }
}


.image {
    box-shadow:
        0 0 30px rgba(255, 255, 255, 0.4),
        0 0 60px rgba(255, 255, 255, 0.3),
        0 0 120px rgba(255, 255, 255, 0.2);
    perspective: 1000px;
    width: clamp(150px, 40vw, 280px);
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: relative;
    flex-shrink: 0;
    transform-style: preserve-3d;
    overflow: hidden;
    animation: move 3s .3s linear infinite alternate;
    border: 5px solid #1E293B;
}


@keyframes move {

    0% {
        transform: translateY(0px);
    }

    100% {

        transform: translateY(30px);
    }

}




.image img {
    scale: 1.5;
    transform: translateY(-20px);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    transition: ease-in-out .5s;
}




@media (max-width:920px) {

    #Personal {

        min-height: 100vh;
        height: auto;
        padding: 2rem 1rem;
        flex-direction: column-reverse;
        gap: 2rem;

    }

}

.btns {

    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;

}

.btns>button {

    cursor: pointer;
    padding: 10px;
    border: solid white;
    border-radius: .5rem;
    font-size: 1rem;
    font-weight: bold;
    transition: ease-in-out .2s;

}

.btns>button:nth-child(1) {
    background: transparent;
    color: white;
}

.btns>button:nth-child(1):hover {
    background: white;
    color: black;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.btns>button:nth-child(2):hover {
    background: transparent;
    color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}