
.skill-card {
  margin: 20px;
  width: clamp(250px, 50vw, 300px);
  height: 400px;

  perspective: 1000px; /* correct place */
transition-delay: .5s;
  position: relative;
  transition: all 0.5s ease;
   animation: zoomIn .2s linear forwards;
    scale: 0.9;
    opacity: 0;
  
}

.skill-card:nth-child(1){ animation-delay: 0.1s;}
.skill-card:nth-child(2){ animation-delay: 0.2s;}
.skill-card:nth-child(3){ animation-delay: 0.3s;}
.skill-card:nth-child(4){ animation-delay: 0.4s;}
.skill-card:nth-child(5){ animation-delay: 0.5s;}
.skill-card:nth-child(6){ animation-delay: 0.6s;}
.skill-card:nth-child(7){ animation-delay: 0.7s;}
.skill-card:nth-child(8){ animation-delay: 0.8s;}
.skill-card:nth-child(9){ animation-delay: 0.9s;}
.skill-card:nth-child(10){ animation-delay: 1s;}


.card-inner {
 
  transition-delay: .5s;
  width: 100%;
  height: 100%;
  position: relative;

  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.skill-card:hover .card-inner {
  transform: rotateY(180deg);
  transition-delay: .5s;
  
  
}


.card-front,
.card-back {
  position: absolute;
  inset: 0;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
   border:  solid 1px  #1E293B;
  border-radius: 16px;
  backface-visibility: hidden;
  overflow: hidden;
  transition: ease-in .2s;
}

.card-front:hover{

  border: solid 1px #38BDF8;
}


.card-front {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  color: white;
}


.card-back {
  box-shadow:0 0 5px;
   background: rgba(255, 255, 255, 0.196);
  
  color: black;

  transform: rotateY(180deg);
}


.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.card-image img {
  width: 100%;
  max-width: 120px;
  height: auto;
}


.outer-bar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bar {
  width: 100%;
  height: 50px;
  border:  solid 2px  #1E293B;
  background-color: #1E293B;
  border-radius: 0.5rem;
  overflow: hidden;
}

.progress {
  height: 100%;
 

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Arial, Helvetica, sans-serif;
  color: white;

  background: #38BDF8;
  animation: grow 1.2s ease-in-out forwards;
}

@keyframes grow {
  from {
    width: 0;
  }
}
