*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "SN Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


#root{
    
    background-color:#020617;
    height: 100%;
    min-height: 100vh;
    text-align: center;
    color: white;
}


